--------------------------------------------------------------------------------
Estado inicial de los sitios
--------------------------------------------------------------------------------

pruebas3.qa.bancochile.cl
    CDLV = 
        IP= {{id_cdlv.address}}
        Habilitado = {{id_cdlv.isEnabled}}
        Weight =  {{id_cdlv.weight}}
    LGVL =
        IP= {{id_lgvl.address}}
        Habilitado = {{id_lgvl.isEnabled}}
        Weight =  {{id_lgvl.weight}}

{% if permiso_conmutar == true %}

--------------------------------------------------------------------------------
Estado final de los sitios
--------------------------------------------------------------------------------

pruebas3.qa.bancochile.cl
    CDLV = 
        IP= {{id_cdlv_post.address}}
        Habilitado = {{id_cdlv_post.isEnabled}}
        Weight =  {{id_cdlv_post.weight}}
    LGVL =
        IP= {{id_lgvl_post.address}}
        Habilitado = {{id_lgvl_post.isEnabled}}
        Weight =  {{id_lgvl_post.weight}}


{% endif %}


{% if permiso_conmutar == false %}

--------------------------------------------------------------------------------
No se puede ejecutar porque ya se encuentra en el datacenter solicitado
--------------------------------------------------------------------------------

{% endif %}
