--------------------------------------------------------------------------------
Estado inicial de los sitios
--------------------------------------------------------------------------------

pruebas3.qa.bancochile.cl
    CDLV = 
        IP= {{id_cdlv}}
        Habilitado = {{id_cdlv}}
        Weight =  {{id_cdlv}}
    LGVL =
        IP= {{id_lgvl}}
        Habilitado = {{id_lgvl}}
        Weight =  {{id_lgvl}}

{% if permiso_conmutar == true %}

--------------------------------------------------------------------------------
Estado final de los sitios
--------------------------------------------------------------------------------

pruebas3.qa.bancochile.cl
    CDLV = 
        IP= {{id_cdlv}}
        Habilitado = {{id_cdlv}}
        Weight =  {{id_cdlv}}
    LGVL =
        IP= {{id_lgvl}}
        Habilitado = {{id_lgvl}}
        Weight =  {{id_lgvl}}


{% endif %}


{% if permiso_conmutar == false %}

--------------------------------------------------------------------------------
No se puede ejecutar porque ya se encuentra en el datacenter solicitado
--------------------------------------------------------------------------------

{% endif %}
